* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
}
.hiasan {
  display: flex;
  position: relative;
}
.img-hero {
  position: absolute;
  width: 794px;
  height: 791px;
  background: url("image/hero-login.png");
  top: 0;
  margin-top: 190px;
  margin-left: 20px;
}
.login {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  right: 100px;
  height: 550px;
  width: 600px;
  /* background-color: red; */
}
.wel {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #333;
  text-align: center;
  font-family: Risque;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-lg {
  position: absolute;
  width: 50%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #000;
  color: #fff;
  bottom: 80px;
  border: none;
  z-index: 5;
  transition: 0.3s ease;
}
.btn-lg:hover {
  cursor: pointer;
  opacity: 0.5;
}
.input-div {
  position: absolute;
  z-index: 2;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-div input {
  width: 80%;
  height: 30px;
  padding: 20px;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  color: #333;
  letter-spacing: 1px;
}

.avatar {
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;
  width: 50%;
}
.avatar img {
  width: 50px;
  height: 50px;
}
.danger {
  position: absolute;
  bottom: 170px;
}
.field {
  position: relative;
  width: 80%;
}
.field label {
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 0;
  transition: 0.4s;
}
.field input {
  color: black;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin-top: 30px;
}
.field input:focus + label,
.field input:valid + label {
  bottom: 25px;
  margin-top: 20px;
  font-size: 13px;
}
label {
  margin-bottom: 10px;
}
