@font-face {
  font-family: pina;
  src: url(font/Pina.ttf);
}
@font-face {
  font-family: myFont;
  src: url(font/Evermore.ttf);
}
@font-face {
  font-family: akira;
  src: url(font/Akira.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.con-nav {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 60px;
  z-index: -1;
  top: 0;
}
nav {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 999;
  top: 0;
}
.ul-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  list-style-type: none;
}
.li-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  transition: 0.3s;
}
.li-nav:hover {
  /* background-color: #2d2f30; */
  /* transform: rotate(-10deg); */
  border-bottom: 5px solid red;
}
.li-nav a {
  color: white;
  text-decoration: none;
}
.slides {
  width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100vh;
  animation-name: fade;
  animation-duration: 1s;
}
.slides .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slides .navigation .prev,
.slides .navigation .next {
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.6s ease;
}

.slides .navigation .prev:hover,
.slides .navigation .next:hover {
  background: rgba(0, 0, 0, 1);
}

.banner-text {
  position: absolute;
  padding: 20px;
  color: rgb(139, 61, 61);
  margin-top: 90px;
  top: 0;
  font-size: 40px;
  word-spacing: 10px;
  filter: drop-shadow(0 6px 2px rgb(53, 49, 49));
  letter-spacing: 10px;
  font-family: akira;
}
.kanan {
  display: flex;
  height: 60px;
  gap: 20px;
  align-items: center;
  margin-right: 40px;
}
.kanan a {
  opacity: 50%;
  transition: 0.3s;
}
.kanan a:hover {
  cursor: pointer;
  opacity: 100%;
}
.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.card-body {
  align-items: center;
  margin-bottom: 100px;
  justify-content: center;
  display: flex;
  width: 400px;
}
.card {
  width: 100%;
  height: 300px;
  position: relative;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(135deg, #221212, #2b374b);
  border-radius: 25px;
  transition: 1s;
}
#img1 {
  position: absolute;
  width: auto;
  height: 400px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}
#img2 {
  position: absolute;
  width: auto;
  height: 500px;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
}
.card:hover #img1 {
  opacity: 0;
  height: 600px;
  left: 80%;
  transition: 1s;
}
.card:hover #img2 {
  opacity: 100%;
  height: 350px;
  left: 80%;
  transition: 1.5s;
}
.content {
  color: #fff;
  width: 400px;
  opacity: 0;
  transition: 0.5s;
}
.content h2 {
  font-size: 3em;
}
.card:hover .content {
  opacity: 100%;
}

@media (max-width: 681px) {
  .card {
    position: relative;
    max-width: 600px;
    display: block;
  }
  .card:hover {
    height: 620px;
  }
  .card:hover #img1 {
    opacity: 0;
    height: 400px;
    left: 50%;
    transition: 1s;
  }
  .card:hover #img2 {
    opacity: 100%;
    height: 400px;
    left: 50%;
    transition: 1s;
  }
  .card:hover .content {
    top: 10px;
    width: 100%;
  }
}
@media (max-width: 431px) {
  .card:hover {
    height: 660px;
  }
}
@media (max-width: 352px) {
  .card:hover {
    height: 800px;
  }
  button:nth-child(6) {
    margin-bottom: 60px;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
