@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #353b48;
}
.con-nav {
  position: fixed;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 60px;
  z-index: -1;
  opacity: 0.3;
  top: 0;
}
nav {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 999;
  top: 0;
}
.ul-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  list-style-type: none;
}
.li-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  transition: 0.3s;
}
.li-nav:hover {
  /* background-color: #2d2f30; */
  /* transform: rotate(-10deg); */
  border-bottom: 5px solid red;
}
.li-nav a {
  color: white;
  text-decoration: none;
}
.banner img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}
.slides {
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 90px;
}
.slides h2 {
  margin-top: 90px;
  margin-bottom: 50px;
}
.slide img {
  width: 100%;
  height: 60vh;
  animation-name: fade;
  animation-duration: 1s;
}
.slides .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slides .navigation .prev,
.slides .navigation .next {
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.6s ease;
}

.slides .navigation .prev:hover,
.slides .navigation .next:hover {
  background: rgba(0, 0, 0, 1);
}

.banner-text {
  position: absolute;
  padding: 20px;
  color: rgb(139, 61, 61);
  margin-top: 90px;
  top: 0;
  font-size: 40px;
  word-spacing: 10px;
  filter: drop-shadow(0 6px 2px rgb(53, 49, 49));
  letter-spacing: 10px;
  font-family: akira;
}
.kanan {
  display: flex;
  height: 60px;
  gap: 20px;
  align-items: center;
  margin-right: 40px;
}
.kanan a {
  opacity: 50%;
  transition: 0.3s;
  display: flex;
  color: white;
  text-decoration: none;
}
.kanan a:hover {
  cursor: pointer;
  opacity: 100%;
}
.kontainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  width: 100%;
  flex-wrap: wrap;
}
.kartu-body {
  align-items: center;
  margin-bottom: 100px;

  display: flex;
  width: 400px;
}
.kartu {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(135deg, #221212, #2b374b);
  border-radius: 25px;
  transition: 1s;
}
#img1 {
  position: absolute;
  width: auto;
  height: 400px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}
#img2 {
  position: absolute;
  width: auto;
  height: 500px;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
}
.kartu:hover #img1 {
  opacity: 0;
  transition: 1s;
  height: 600px;
  left: 100%;
}
.kartu:hover #img2 {
  opacity: 100%;
  height: 350px;
  left: 80%;
  transition: 1.5s;
}
.kontent {
  color: #fff;
  width: 400px;
  opacity: 0;
  transition: 0.5s;
}
.kontent h2 {
  font-size: 3em;
}
.kontent h4 {
  font-size: 1.3em;
  color: yellowgreen;
}
.kartu:hover .kontent {
  opacity: 100%;
}

.kartu-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.btn-see {
  background-color: green;
  border: none;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.searchbar {
  position: absolute;
  margin-top: 80px;
  left: 0;
  height: 60px;
  background-color: #101d3a;

  border-radius: 30px;
  padding: 10px;
  margin-left: 40px;
}

.searchbar > .search_input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 10px;
  width: 450px;
  color: white;
  transition: width 0.4s linear;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.search-btn {
  border: none;
  background-color: transparent;
}

@media (max-width: 681px) {
  .kartu {
    position: relative;
    max-width: 600px;
    display: block;
  }
  .kartu:hover {
    height: 620px;
  }
  .kartu:hover #img1 {
    opacity: 0;
    height: 400px;
    left: 50%;
    transition: 1s;
  }
  .kartu:hover #img2 {
    opacity: 100%;
    height: 400px;
    left: 50%;
    transition: 1s;
  }
  .kartu:hover .kontent {
    top: 10px;
    width: 100%;
  }
}
@media (max-width: 431px) {
  .kartu:hover {
    height: 660px;
  }
}
@media (max-width: 352px) {
  .kartu:hover {
    height: 800px;
  }
  button:nth-child(6) {
    margin-bottom: 60px;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
